@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
html{
    scroll-behavior: smooth;
}

.fondoHero{
  background: rgb(82,0,153);
  background: radial-gradient(circle, rgba(82,0,153,1) 0%, rgba(255,255,255,1) 100%);
}

.circle{
  width: 1400px;
  height: 1400px;
  /* background: linear-gradient(110deg, #070768 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #44d1d4 80%, #070768 50%); */
  background: linear-gradient( 10deg, rgba(82,0,153,1) 20%, rgba(255,255,255,1));
  border-radius: 30%; 
  position: absolute;
  /* animation: move-up 1.5s ease-in infinite alternate-reverse; */
   filter: blur(100px);
  top: 0px;
  left: 1000px;
}